table {
	background: #FFF;
	border: 0px;
	border-collapse: collapse;
	color: #fff;
	font: normal 12px verdana, arial, helvetica, sans-serif;
}

caption {
	border: 0px;
	color: #5C443A;
	font-weight: bold;
	letter-spacing: 20px;
	padding: 6px 4px 8px 0px;
	text-align: center;
	text-transform: uppercase;
}

td,th {
	color: #363636;
	padding: .4em;
}

thead th,tfoot th {
	background: #5C443A;
	color: #FFFFFF;
	padding: 3px 10px 3px 10px;
	text-align: left;
	text-transform: uppercase;
}

tbody td a {
	color: #466D03;
	text-decoration: none;
}

tbody td a:visited {
	color: #466D03;
}

tbody td a:hover {
	text-decoration: underline;
}

tbody th a {
	color: #466D03;
	font-weight: bold;
	text-decoration: none;
}

tbody th a:hover {
	color: #363636;
}

tbody td+td+td+td a {
	background-position: left center;
	background-repeat: no-repeat;
	color: #466D03;
	padding-left: 15px;
}

tbody td+td+td+td a:visited {
	background-position: left center;
	background-repeat: no-repeat;
}

tbody th {
	text-align: center;
	vertical-align: top;
}

tbody td {
	text-align: left;
	vertical-align: top;
}

tfoot td {
	background: #5C443A;
	color: #FFFFFF;
	padding-top: 3px;
}

.odd {
	background: #fff;
}

.even {
	background: #CCC;
}

tbody tr.current {
	background: #CCFF99;
	border: 0px;
	color: #000000;
}

tbody tr.highlight {
	background: #B6DF9F;
	border: 0px;
	color: #000000;
}