body {
	margin: 0;
	padding: 0;
	border: 0;
	overflow: auto;
	height: 100%;
	max-height: 100%;
	font: bold 11px/ 1.5em Verdana;
	background-color: black;
	text-align: center;
}

#couples_outer_wrapper {
	background-color: #000;
	height: 100%;
}

table.couples_content {
	background-color: #1C4FB5;
	background-image: url(couples_main_content_900x20.png);
}

#couples_framecontent {
	color: white;
	vertical-align: middle;
	background-image: url(couples_main_content_900x20.png);
	background-position: left top;
	background-repeat: repeat-y;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
}

div.feedback {
	font-weight: bold;
	color: #fff;
}

#couples_maincontent {
	text-align: center;
	background-image: url(couples_main_content_900x20.png);
	background-position: left top;
	background-repeat: repeat-y;
}

#couples_child {
	align: center;
}
